@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Mulish, 'sans-serif';
  background-color: rgb(233, 14, 233);
  color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
